body {
  margin: 0px;
  height: 100vh;
}

canvas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottombar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  background: #EEEEEE;
  width: auto;
  height: auto;
  justify-content: left;
  align-items: top;
  text-align: center;
  padding: 10px;
}

.textpanel {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  text-align: right;
  padding: 5px;
}

.checkboxpanel {
  /* vertical flow */
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  text-align: left;
  width: auto;
}

.checkboxrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid rgb(199, 199, 199);
}

.labeltext {
  text-align: left;
  color: #333;
  padding: 2px;
  width: auto;
  font-size: 12px;
}
.deg:after {
  content: "°";
}
.rad:before {
  content: "π/";
}
#iteration:after {
  content: " cycles;";
}
#time:after {
  content: "s;";
}
#fps:after {
  content: " fps";
}

.sliderpanel {
  display: flex; 
  float: center;
  flex-direction: row;
  align-items: top;
  text-align: center;
  width: 100%;
}

.sliderAndLabel {
  border: 1px solid #d3d3d3;
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.sliderrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  text-align: left;
  border: 1px solid #d3d3d3;
}

.slider {
  -webkit-appearance: none;
  width: 70px;
  height: 10px;
  border-radius: 8px;
  background: #8f8f8f;
  outline: none;
  opacity: 1.0;
  -webkit-transition: .2s;
  transition: opacity 1s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  outline: 1px solid #000;
  outline-color: rgb(255, 255, 255);
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: rgb(255, 0, 0) 2px solid;
}

.matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #d3d3d3;
  padding: 0px;
  width: 50%;
  margin: 0px;
}

.matrixelems {
  width: 12px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.matrixpanel {
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.matrixgrid {
  /* in grid of 3 */
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; 4 columns, fr means 1 fraction */
  grid-template-columns: repeat(4, 0fr);
  grid-gap: 2px;
  padding: 0px;
  margin: 0px;
  justify-content: center;
}