body {
    background-color: rgb(47, 47, 93);
}
.topbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0, .1);

    border-radius: 10px;
    padding-bottom: 35px;
}