html, body {

    background-color: rgb(47, 47, 93);
    background-image: url("/img/wide.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Topbar-Elemente*/
.topbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);

    width: 50%;

    border-radius: 15px;
}
.topbar span {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 5px 15px 15px 15px;
}
.topbar label {
    font-size: 10px;
    padding: 5px;
}
.topbar #okButton {
    margin: 10px 0px 25px 0px;
    padding: 2px 15px;
    border-radius: 5px;
    border-width: 0;
}
.topbar #okButton:hover {
    background-color: #F2CB18;
    outline: 2px solid white;
}

/*main*/
.countdownPanel {
    display: flex;
}