html, body, .frame {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;

    background-image: url("/img/wide.png");
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    /*vertical-scrollen aus
    * dudurch sind nach außen verschobene Elemente nicht erreichbar */
    overflow-x: hidden;
}

/*Topbar-Elemente*/
.topbar {
    position: relative;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    border-radius: 10px;
}
.topbar div {
    margin-top: 50px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
    align-items: center;

    /*Blur-Filter*/
    backdrop-filter: blur(10px);

    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.15); */
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .45);

    background-color: rgba(213, 213, 213,.3);
    border-radius: 25px;
}
.topbar label {
    font-size: 10px;
    padding: 5px;
}
.topbar input {
    border: none;
    outline: none;
    width: 50%;
    max-width: 250px;
    border-radius: 4px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.topbar #okButton {
    max-width: 60px;
    width: 60px;
    margin: 10px 0px 25px 0px;
    padding: 2px 15px;
    border-radius: 5px;
    border-width: 0;
}
.topbar #okButton:active {
    background-color: #F2CB18;
    box-shadow: none;

}
.burgerMenu {
    display: none;
}


/*main*/
.countdownPanel {
    position: relative;
    margin-top: 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
}

.countdownPanel .trennlinie {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: white;
    height: 1px;
    width: 75%;
}

.countdownPanel label {
    font-size: medium;
    margin: 5px;
}


.countdownPanel h3 {
    font-size: larger;
    margin: 5px;
}

.countdownPanel #meldung {
    display: none;
}

/*Ladebalken*/
.ladeBalken {
    position: flex;
    margin: auto;
    font-size: small;
    text-align: center;
    width: 40%;
    height: 25px;
    background-color: rgba(213, 213, 213,.3);
    backdrop-filter: blur(10px);
    border-radius: 100cm;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .35);
    overflow: hidden;
}

.fuellStand {
    width: 1%;
    height: 100%;
    
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}


/* ----- Für Mobilansicht: ----- */
/*Burger-Menü anzeigen ab 844px*/
@media screen and (max-width: 600px) {
    .topbar {
        background-color: transparent;
    }
    .menuElems {
        font-size: small;
        width: 250px;
        transform: translateY(-300%) scale(.01);
        transition: transform 0.4s ease-in-out;

    }
    .burgerMenu {
        z-index: 3;
        position: fixed;
        top: 25px;
        right: 25px;
        display: flex;
        margin: auto;
        text-align: right;

        font-size: 55px;
        cursor: pointer;
    }
    .countdownPanel {
        font-size: smaller;
        transform:  translateY(-100%);
        transition: transform 0.4s ease-in-out;
    }
}

.menuElems-active {
    transform: translateX(0%);
    border-radius: 10px;
}

.countdownPanel-up {
    transform: scale(75%) translateY(0%);
}

.html-alert {
    background: rgba(15, 15, 15, .5);
    transition: all .2s ease-in-out;
}

#ausgabe {
    display: none;
    font-size: small;
}